<div id="scrollable-content">
    <div class="w3-content w3-padding-16">
        <!-- Actions -->
        <div class="w3-col m3 w3-margin" v-for="(actions, roomName) of getGroupedActions()">
            <h3 class="reset-margin margin-left-8">{{roomName != "" ? roomName : '*'}}</h3>

            <a class="w3-col m12 s11 w3-center w3-padding w3-round-large w3-hover-light-gray margin-8 bg-gray-opacity-88"
               title="Edit action"
               v-for="(action, name) of actions"
               v-on:click="showEdit(name, action)">
                <span class="w3-show-block overflow-wrap-break-word">
                    {{name}}
                    <span class="material-icons w3-small w3-text-green" v-bind:class="{'w3-text-red': !action.IsEnabled}">circle</span>
                </span>
                <span class="w3-small">({{action.$type.substr(action.$type.lastIndexOf(".")+1)}})</span>
            </a>
        </div>

        <div class="w3-col m3 w3-margin">
            <h3 class="reset-margin margin-left-8">&nbsp;</h3>
            <a class="w3-col m12 s11 w3-padding w3-round-large w3-center w3-hover-light-gray margin-8 bg-gray-opacity-88 w3-margin-top"
               title="Add device"
               v-on:click="showAddAction()">
                <span class="w3-cell-middle material-icons">add</span>
                <span class="w3-cell-middle">Add Action</span>
            </a>
        </div>
    </div>

    <!-- Modal -->
    <div class="w3-modal" v-if="edit.name"
         v-bind:class="{'w3-show-block': edit.name}"
         v-on:click="edit.name = null">
        <div class="w3-modal-content w3-card-4 w3-transparent" v-on:click.stop="">
            <header class="w3-container w3-blue-gray">
                <span class="w3-button w3-display-topright" v-on:click="edit.name = null">&times;</span>
                <h2>{{edit.name}}</h2>
            </header>
            <div class="w3-container w3-padding-16 height-100 overflow-y-auto bg-gray">
                <div class="w3-margin-bottom" v-if="edit.types['action']">
                    <span class="w3-right-align">Types:</span>
                    <select class="w3-mobile" v-on:change="onTypeChange">
                        <option value="" disabled selected>Select</option>
                        <option v-for="v of edit.types['action']" v-bind:value="v">{{v}}</option>
                    </select>
                </div>

                <object-editor v-bind:object="edit.action"></object-editor>

                <div class="w3-margin-bottom" v-if="edit.action && edit.types['executor']">
                    <span class="w3-right-align">Executor Types:</span>
                    <select class="w3-mobile" v-on:change="onExecutorTypeChange">
                        <option value="" disabled selected>Select</option>
                        <option v-for="v of edit.types['executor']" v-bind:value="v">{{v}}</option>
                    </select>
                </div>

                <object-editor v-if="edit.action?.Executor" v-bind:object="edit.action.Executor"></object-editor>

                <div class="w3-center">
                    <a class="w3-button w3-round w3-padding-small w3-white w3-hover-blue-grey margin-8" title="Save"
                       v-on:click="saveAction()">
                        Save
                    </a>
                </div>
                <div class="w3-text-red margin-bottom-8" v-if="error">{{error}}</div>

                <a class="w3-button w3-right w3-round w3-padding-small w3-white w3-hover-red margin-8"
                   title="Delete"
                   v-if="!edit.name.startsWith('Add ')"
                   v-on:click="deleteAction">
                    delete
                </a>
            </div>
        </div>
    </div>
</div>