<div id="scrollable-content">
    <div class="w3-content w3-padding-16">
        <!-- Operations -->
        <div class="w3-row w3-margin w3-animate-opacity">
            <h3 class="reset-margin margin-left-8">Operations</h3>

            <a class="w3-col l3 m3 s11 w3-center w3-padding w3-round-large w3-hover-light-gray margin-8 bg-gray-opacity-88"
               title="Edit operation"
               v-for="(operation, name) of assistant.Operations"
               v-on:click="showEdit(name, operation)">
                <span class="w3-show-block overflow-wrap-break-word">
                    {{name}}
                </span>
            </a>

            <a class="w3-col l2 m3 s11 w3-padding w3-round-large w3-center w3-hover-light-gray margin-8 bg-gray-opacity-88 material-icons"
               title="Add operation"
               v-on:click="showAddOperation(room)">
                add
            </a>
        </div>

        <!-- Request Mapping -->
        <div class="w3-row w3-margin w3-animate-opacity">
            <h3 class="reset-margin margin-left-8">Request Mapping</h3>

            <div class="w3-row margin-8" v-for="item, idx of requestMapping">
                <input v-model="item.request" v-bind:title="item.request" type="text" class="w3-col m5 w3-mobile margin-right-8" />
                <select v-model="item.operation" class="w3-col m2 w3-mobile" style="height:26px">
                    <option value="" disabled selected hidden>Select</option>
                    <option v-for="o of Object.keys(assistant.Operations)" v-bind:value="o">{{o}}</option>
                </select>

                <a class="w3-hover-text-red margin-left-8 material-icons" title="Remove"
                   v-on:click="requestMapping.splice(idx, 1)">
                    remove
                </a>
            </div>

            <div class="w3-row">
                <a class="w3-col l1 m1 s2 w3-round-large w3-center w3-hover-light-gray margin-8 padding-4 bg-gray-opacity-88 material-icons"
                   title="Add request mapping"
                   v-on:click="addRequestMapping()">
                    add
                </a>
                <a class="w3-col l1 m2 s3 w3-round-large w3-center w3-hover-light-gray margin-8 padding-4 bg-gray-opacity-88" style="height:32px"
                   title="Save request mapping"
                   v-on:click="saveRequestMapping()">
                    Save
                </a>
            </div>

            <div class="w3-text-green margin-8" v-if="message"
                 v-bind:class="{'w3-text-red': message.startsWith('Error')}">
                {{message}}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="w3-modal w3-animate-opacity" v-if="edit.name"
         v-bind:class="{'w3-show-block': edit.name}"
         v-on:click="edit.name = null">
        <div class="w3-modal-content w3-card-4 w3-transparent" v-on:click.stop="">
            <header class="w3-container w3-blue-gray">
                <span class="w3-button w3-display-topright" v-on:click="edit.name = null">&times;</span>
                <h2>{{edit.name}}</h2>
            </header>
            <div class="w3-container w3-padding-16 height-100 overflow-y-auto bg-gray">
                <div class="margin-bottom-8">
                    <span class="margin-right-8">Name:</span>
                    <input v-model="edit.newName" v-bind:title="edit.newName" type="text" class="w3-mobile" />
                </div>

                <div>Script:</div>
                <monaco-editor v-model="edit.operation" style="height: 250px"></monaco-editor>

                <a class="w3-small margin-left-8" href="./api/typescript-models" target="_blank"
                   title="Open Typescript models">
                    Models
                </a>

                <div v-if="edit.name != 'Add Operation'" class="w3-small margin-8">
                    <span class="margin-right-8">Args:</span>
                    <input v-model="edit.args" v-bind:title="edit.args" type="text" />
                    <a class="w3-small margin-left-8" title="Test the script"
                       v-on:click="triggerOperation()">
                        Test
                    </a>
                </div>
                <div class="w3-text-green margin-8" v-if="message"
                     v-bind:class="{'w3-text-red': message.startsWith('Error')}">
                    {{message}}
                </div>

                <div class="w3-center">
                    <a class="w3-button w3-round w3-padding-small w3-white w3-hover-blue-grey margin-8" title="Save"
                       v-on:click="saveOperation()">
                        Save
                    </a>
                </div>

                <a class="w3-button w3-right w3-round w3-padding-small w3-white w3-hover-red margin-8"
                   title="Delete"
                   v-if="!edit.name.startsWith('Add ')"
                   v-on:click="deleteOperation">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>