<div id="scrollable-content">
    <!-- SideBar -->
    <div class="w3-sidebar w3-bar-block w3-transparent w3-animate-left" style="margin-top: 32px; width: revert;">
        <a class="w3-bar-item w3-hover-text-blue-gray" 
           v-bind:href="'#' + room.Name" v-for="room of rooms">
            {{room.Name}}
        </a>
    </div>

    <div class="w3-content w3-padding-16">
        <!-- Rooms info -->
        <room-card v-for="room of rooms" v-bind:room="room" v-bind:id="room.Name" v-bind:key="room.Name"></room-card>
    </div>

    <!-- Bottom bar -->
    <div class="w3-padding-large w3-margin-bottom w3-display-bottomright w3-animate-zoom">
        <!-- Media Player -->
        <div class="w3-dropdown-hover w3-transparent margin-left-8"
             @mouseover="hoverMediaPlayer()" @mouseleave="mediaPlayerHover = false">
            <a class="w3-button w3-round-xxlarge w3-white w3-hover-blue-grey padding-4 material-icons"
               title="Media player"
               v-bind:class="{'w3-text-light-green': mediaPlayer.Playing}">
                video_library
            </a>
            <div class="w3-dropdown-content w3-transparent dropdown-top-right">
                <media-player v-bind:media-player="mediaPlayer"></media-player>
            </div>
        </div>

        <!-- Charts -->
        <div class="w3-dropdown-hover w3-transparent margin-left-8">
            <a class="w3-button w3-round-xxlarge w3-white w3-hover-blue-grey padding-4 material-icons"
               title="Charts" v-on:click="showChartsModal()">
                show_chart
            </a>
            <div class="w3-dropdown-content w3-transparent dropdown-top-right">
                <div class="w3-padding-small w3-round-medium w3-animate-opacity margin-8 bg-gray">
                    Show Charts
                </div>
            </div>
        </div>

        <!-- Security -->
        <div class="w3-dropdown-hover w3-transparent margin-left-8">
            <a class="w3-button w3-round-xxlarge w3-white w3-hover-blue-grey padding-4 material-icons"
               title="Security"
               v-bind:class="{'w3-text-lime': someRoomSecuritySystemEnabled, 'w3-text-green': allRoomsSecuritySystemEnabled}">
                security
            </a>
            <div class="w3-dropdown-content w3-transparent dropdown-top-right">
                <security-list v-bind:rooms="rooms" v-on:show-modal="showSecurityModal()"></security-list>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="w3-modal w3-animate-opacity" v-if="modal"
         v-bind:class="{'w3-show-block': modal}"
         v-on:click="modal = ''">
        <div class="w3-modal-content w3-card-4 w3-transparent" v-on:click.stop="">
            <header class="w3-container w3-blue-gray">
                <span class="w3-button w3-display-topright" v-on:click="modal = ''">&times;</span>
                <h2>{{modal}}</h2>
            </header>
            <div class="w3-container w3-padding-16 height-100 overflow-y-auto bg-gray">
                <!-- Charts -->
                <div v-if="modal == 'Charts'">
                    <div class="w3-bar w3-gray margin-bottom-8">
                        <a class="w3-bar-item w3-button"
                           v-for="room of rooms"
                           v-bind:class="{'w3-light-gray': modalSelection == room.Name}"
                           v-bind:title="room.Name"
                           v-on:click="modalSelection = room.Name">
                            {{room.Name}}
                        </a>
                    </div>
                    <canvas id="charts" class="margin-bottom-8"></canvas>
                    <div v-for="(stat, name) of stats" class="w3-small">
                        {{name}}
                        <span class="w3-tiny w3-right">Average: {{stat.Average}}, Sum: {{stat.Sum}}</span>
                    </div>
                </div>

                <!-- Security -->
                <div v-if="modal == 'Security'">
                    <h4 class="reset-margin">History</h4>
                    <hr class="reset-margin margin-bottom-8" />
                    <canvas id="chartSecurity" class="margin-bottom-8"></canvas>
                    <div v-for="(stat, name) of stats" class="w3-small">
                        {{name}}
                        <span class="w3-tiny w3-right">Average: {{stat.Average}}, Sum: {{stat.Sum}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>