<a class="w3-center w3-padding w3-round-large margin-8 bg-gray-opacity-88 w3-hover-blue-gray" style="min-height: 72px"
   v-bind:class="{'w3-text-red': error, 'w3-disabled': processing, 'animate-fading-5s': processing, 'w3-text-dark-gray': isOffline}"
   v-bind:title="error ?? 'Last Online: ' + dateToString(new Date(driver.LastOnline))"
   v-on:click="click()">
    <!-- Switch -->
    <div class="w3-xlarge" v-bind:class="{'w3-text-light-green': driver.IsOn}" style="font-weight: bold; margin: 2px"
       v-if="driver.$type.endsWith('SwitchMqttDriver')">
        {{driver.IsOn ? 'ON' : 'OFF'}}
    </div>

    <!-- Light -->
    <span class="material-icons w3-xxlarge" v-bind:class="{'w3-text-yellow': driver.IsOn}"
          v-if="driver.$type.endsWith('LightMqttDriver')">
        {{driver.IsOn ? 'lightbulb' : 'lightbulb_outline'}}

        <input type="color" style="width: 12px; height: 12px;"
               v-model="driver.Color" v-bind:title="driver.Color" v-on:click.stop="" />
    </span>

    <!-- AC -->
    <div class="w3-xlarge" style="margin: 2px; white-space: nowrap;"
          v-if="driver.$type.endsWith('AcIrMqttDriver') && driver.Power">
        {{Math.round(driver.Temperature, 2)}}

        <span class="w3-tiny">°C</span>
        <span class="material-icons w3-tiny" style="vertical-align:top;margin-top:8px;">
            {{getAcIcon()}}
        </span>
    </div>
    <div class="w3-xlarge" style="font-weight: bold; margin: 2px;"
          v-if="driver.$type.endsWith('AcIrMqttDriver') && !driver.Power">
        OFF
    </div>

    <!-- eWeLink -->
    <span class="material-icons w3-xxlarge" v-if="driver.$type.endsWith('EwelinkRfDriver')">
        settings_remote
    </span>

    <!-- Script -->
    <span class="material-icons w3-xxlarge" v-if="driver.$type.endsWith('ScriptDriver')">
        code
    </span>

    <!-- Speaker -->
    <span class="material-icons w3-xxlarge" v-if="driver.$type.endsWith('SpeakerMqttDriver') && !driver.Playing">
        {{driver.Playing ? 'music_note' : 'speaker'}}
    </span>
    <div v-if="driver.$type.endsWith('SpeakerMqttDriver') && driver.Playing" style="overflow: hidden; line-height: 1;"
         v-bind:title="'Volume: ' + driver.Volume + '\nBufferLevel: ' + driver.BufferLevel + '%'">
        <span class="w3-tiny w3-show-inline-block scroll-text no-mobile" v-bind:title="driver.Playing + ' (' + driver.Position + '%)'">
            {{driver.Playing}}
        </span>
        <span class="material-icons w3-xlarge" title="Pause" v-on:click.stop="" v-on:click="setDevice({ 'Paused': !driver.Paused })">
            {{driver.Paused ? 'play_arrow' : 'pause'}}
        </span>
        <span class="material-icons w3-xlarge" title="Stop" v-on:click.stop="" v-on:click="setDevice({ 'Playing': '' })">
            stop
        </span>
        <span class="material-icons w3-xlarge" title="Next" v-on:click.stop="" v-on:click="callDevice('NextSong', driver.Playing)">
            skip_next
        </span>
        <div style="height: 2px;"
             v-bind:style="{'background': 'linear-gradient(90deg, #ffffff ' + driver.Position + '%, #7494a4 0%)'}">
        </div>
    </div>


    <div class="w3-tiny">{{driver.Name}}</div>

    <!-- Modal -->
    <div class="w3-modal w3-animate-opacity" v-if="modalObject" v-on:click.stop=""
         v-bind:class="{'w3-show-block': modalObject}"
         v-on:click="modalObject = null">
        <div class="w3-modal-content w3-card-4 w3-transparent" v-on:click.stop="">
            <header class="w3-container w3-blue-gray">
                <span class="w3-button w3-display-topright" v-on:click="modalObject = null">&times;</span>
                <h2>{{modalObject.Name}}</h2>
            </header>
            <div class="w3-container w3-text-white w3-padding-16 height-100 overflow-y-auto bg-gray">
                <object-editor v-bind:object="modalObject"
                               v-bind:settings="false"
                               v-bind:onsave="save"></object-editor>
            </div>
        </div>
    </div>
</a>