<a class="w3-col l5 m5 s3 w3-padding w3-round-large margin-8 bg-gray-opacity-88 w3-hover-light-gray" style="min-height: 72px"
   v-on:click="click()">
    <!-- Switch -->
    <b class="w3-xlarge room-sensor-value" v-bind:class="{'w3-text-light-green': driver.IsOn}"
       v-if="driver.$type.endsWith('SwitchMqttDriver')">
        {{driver.IsOn ? 'ON' : 'OFF'}}
    </b>

    <!-- Light -->
    <span class="material-icons w3-xxlarge" v-bind:class="{'w3-text-yellow': driver.IsOn}"
          v-if="driver.$type.endsWith('LightMqttDriver')">
        {{driver.IsOn ? 'lightbulb' : 'lightbulb_outline'}}
    </span>
    <input type="color" style="width: 12px; height: 12px;" 
           v-model="driver.Color" v-bind:title="driver.Color" v-on:click.stop=""
           v-if="driver.$type.endsWith('LightMqttDriver')" />

    <div class="w3-tiny">{{driver.Name}}</div>
</a>