<div class="w3-padding-small w3-round-large w3-animate-opacity margin-8 bg-gray"
     style="width: 300px">

    <!-- media list -->
    <div class="w3-small w3-left-align w3-text-white margin-8 overflow-y-auto"
         id="media-list" style="max-height:300px;"
         v-if="!mediaPlayer.Playing">
        <a class="w3-right w3-hover-text-blue-gray margin-right-8 font-size-normal material-icons" title="Refresh"
           v-on:click="callMediaPlayer('RefreshMediaList')">
            refresh
        </a>

        <div class="margin-right-8 margin-bottom-8" v-for="(tree, media) of getMediaTree()">
            <h4 class="reset-margin">{{media}}</h4>
            <hr class="reset-margin margin-bottom-8" />
            <media-tree-item v-bind:tree="tree" v-bind:media="media" v-on:change="onMediaChange"></media-tree-item>
        </div>
    </div>

    <!-- playing -->
    <div class="w3-center w3-text-white margin-8 overflow-wrap-break-word"
         v-if="mediaPlayer.Playing">
        {{mediaPlayer.Playing.substr(lastIndexOfPathSeparator(mediaPlayer.Playing) + 1)}}
    </div>

    <!-- buttons -->
    <div class="w3-text-black margin-right-8" v-if="mediaPlayer.Playing">
        <span class="w3-small w3-left">{{mediaPlayer.TimeDetails}}</span>
        <a class="w3-small w3-hover-text-white w3-cell-middle material-icons" title="Volume down"
           v-on:click="callMediaPlayer('VolumeDown')">
            volume_down
        </a>
        <span class="w3-tiny">{{mediaPlayer.Volume}}</span>
        <a class="w3-small w3-hover-text-white w3-cell-middle material-icons" title="Volume up"
           v-on:click="callMediaPlayer('VolumeUp')">
            volume_up
        </a>
    </div>

    <div class="w3-center margin-bottom-8">
        <a class="w3-button w3-padding-small w3-round-large w3-grey w3-hover-light-grey font-size-normal material-icons"
           title="Seek back fast"
           v-bind:class="{'disabled': !mediaPlayer.Playing}"
           v-on:click="callMediaPlayer('SeekBackFast')">
            fast_rewind
        </a>
        <a class="w3-button w3-padding-small w3-round-large w3-grey w3-hover-light-grey font-size-normal material-icons"
           title="Seek back"
           v-bind:class="{'disabled': !mediaPlayer.Playing}"
           v-on:click="callMediaPlayer('SeekBack')">
            keyboard_arrow_left
        </a>
        <a class="w3-button w3-xlarge w3-padding-small w3-white w3-hover-gray w3-round-xxlarge padding-4 material-icons"
           title="Play"
           v-bind:class="{'disabled': !selectedMediaItem && !mediaPlayer.Paused}"
           v-show="!mediaPlayer.Playing || mediaPlayer.Paused"
           v-on:click="mediaPlayer.Paused ? callMediaPlayer('Pause') : callMediaPlayer('Play', selectedMediaItem)">
            play_arrow
        </a>
        <a class="w3-button w3-xlarge w3-padding-small w3-white w3-hover-gray w3-round-xxlarge padding-4 material-icons"
           title="Pause"
           v-show="mediaPlayer.Playing && !mediaPlayer.Paused"
           v-on:click="callMediaPlayer('Pause')">
            pause
        </a>
        <a class="w3-button w3-xlarge w3-padding-small w3-white w3-hover-gray w3-round-xxlarge padding-4 material-icons"
           title="Stop"
           v-show="mediaPlayer.Playing"
           v-on:click="callMediaPlayer('StopMedia'); selectedMediaItem = ''">
            stop
        </a>
        <a class="w3-button w3-padding-small w3-round-large w3-grey w3-hover-light-grey font-size-normal material-icons"
           title="Seek forward"
           v-bind:class="{'disabled': !mediaPlayer.Playing}"
           v-on:click="callMediaPlayer('SeekForward')">
            keyboard_arrow_right
        </a>
        <a class="w3-button w3-padding-small w3-round-large w3-grey w3-hover-light-grey font-size-normal material-icons"
           title="Seek forward fast"
           v-bind:class="{'disabled': !mediaPlayer.Playing}"
           v-on:click="callMediaPlayer('SeekForwardFast')">
            fast_forward
        </a>
    </div>
</div>