<div>
    <h3 class="reset-margin margin-left-8">{{room.Name}}</h3>
    <!-- Sensors data -->
    <!-- TODO: show all sensors data on a single chart somewhere -->
    <!-- TODO: maybe show devices instead of value / grouped by type - https://miro.medium.com/max/2400/1*MqXRDCodJPM2vIEjygK36A.jpeg -->
    <a class="w3-col m5 s3 w3-padding w3-round-large w3-hover-light-gray margin-8 bg-gray-opacity-88" style="min-height: 72px"
       v-for="(value, name) of room.SensorsValues"
       v-bind:title="value + '\n' + metadata(room.SensorsMetadata[name])"
       v-on:click="selectedValueType = name">
        <span class="w3-xlarge room-sensor-value">{{Math.round(value, 2)}}</span>
        <span v-if="room.SensorsMetadata[name] && room.SensorsMetadata[name]['unit']" class="w3-small room-sensor-value-unit">
            {{room.SensorsMetadata[name]['unit']}}
        </span>
        <div class="w3-tiny">{{name}}</div>
    </a>

    <!-- Cameras -->
    <a class="w3-col m5 s3 w3-padding w3-round-large margin-8 bg-gray-opacity-88 w3-hover-light-gray"
       v-if="getCameras().length > 0"
       v-bind:title="getCameras().length + ' Cameras'"
       v-on:click="selectedValueType = 'Cameras'">
        <span class="material-icons w3-xxlarge">
            videocam
        </span>
        <div class="w3-tiny">Cameras</div>
    </a>

    <!-- Drivers -->
    <driver v-for="driver of getDrivers()"
            v-bind:key="driver.Name"
            v-bind:room="room"
            v-bind:driver="driver">
    </driver>

    <!-- Security system -->
    <a class="w3-col m5 s3 w3-padding w3-round-large margin-8 bg-gray-opacity-88 w3-hover-light-gray"
       v-bind:title="room.IsSecuritySystemEnabled ? 'Disable' : 'Enable'"
       v-on:click="setRoomSecuritySystemEnabled(room.Name, !room.IsSecuritySystemEnabled);">
        <span class="material-icons w3-xxlarge"
              v-bind:class="{'w3-text-light-green': room.IsSecuritySystemEnabled,
                             'w3-text-red': room.IsSecuritySystemActivated}">
            security
        </span>
        <span class="material-icons w3-round w3-text-orange w3-hover-text-blue font-size-normal" title="History"
              v-on:click="selectedValueType = 'Security'" v-on:click.stop="">
            show_chart
        </span>

        <div class="w3-tiny">Security</div>
    </a>

    <!-- Sensors Data / Cameras Modal -->
    <div class="w3-modal" v-if="selectedValueType"
         v-bind:class="{'w3-show-block': selectedValueType}"
         v-on:click="selectedValueType = ''">
        <div class="w3-modal-content w3-card-4 w3-transparent" v-on:click.stop="">
            <header class="w3-container w3-blue-gray">
                <span class="w3-button w3-display-topright" v-on:click="selectedValueType = ''">&times;</span>
                <h2>{{selectedValueType}}</h2>
            </header>
            <div class="w3-container w3-padding-16 height-100 overflow-y-auto bg-gray">
                <!-- Sensors Data -->
                <sensors-data v-if="selectedValueType != 'Cameras' && selectedValueType != 'Security'"
                              v-bind:room="room"
                              v-bind:sensors="getSensorsBySelectedValueType()"
                              v-bind:value-type="selectedValueType"></sensors-data>
                <!-- Cameras -->
                <cameras v-if="selectedValueType == 'Cameras'"
                         v-bind:room="room"
                         v-bind:cameras="getCameras()"></cameras>
                <!-- Security -->
                <canvas v-if="selectedValueType == 'Security'" id="securityChart"></canvas>
            </div>
        </div>
    </div>
</div>