<div class="w3-padding-small w3-round-large w3-animate-opacity margin-8 bg-gray"
     style="white-space: nowrap">
    <!-- rooms statuses -->
    <div class="w3-left-align" v-for="room of rooms">
        <a v-on:click="setRoomSecuritySystemEnabled(room.Name, !room.IsSecuritySystemEnabled);"
           v-bind:title="room.IsSecuritySystemEnabled ? 'Disable' : 'Enable'">
            <span class="w3-cell-middle w3-small material-icons">
                <span v-show="room.IsSecuritySystemEnabled" class="w3-text-light-green">check_circle</span>
                <span v-show="!room.IsSecuritySystemEnabled" class="w3-text-red">cancel</span>
            </span>
            <span class="w3-cell-middle">{{room.Name}}</span>
        </a>
        <span class="w3-cell-middle w3-large w3-text-red w3-animate-fading margin-left-8 material-icons"
              v-show="room.IsSecuritySystemActivated">
            warning
        </span>
    </div>

    <!-- show modal -->
    <a class="w3-small w3-right margin-left-8 padding-4 material-icons"
       v-on:click="showModal()">
        open_in_new
    </a>

    <!-- enable/disable all -->
    <div class="w3-tiny w3-left-align margin-left-8 padding-4">
        <a class="w3-hover-text-light-green" title="Enable all"
           v-show="rooms.every(r => !r.IsSecuritySystemEnabled)"
           v-on:click="setAllRoomsSecuritySystemEnabled(true)">
            Enable All
        </a>
        <a class="w3-hover-text-light-green" title="Disable all"
           v-show="rooms.some(r => r.IsSecuritySystemEnabled)"
           v-on:click="setAllRoomsSecuritySystemEnabled(false)">
            Disable All
        </a>
    </div>
</div>