<div>
    <div class="w3-bar w3-gray margin-bottom-8" v-if="valueTypes.length > 1">
        <a class="w3-bar-item w3-button w3-small"
           v-for="vt of valueTypes"
           v-bind:class="{'w3-light-gray': selection == vt}"
           v-bind:title="vt"
           v-on:click="selection = vt">
            {{vt}}
        </a>
    </div>

    <a class="w3-right w3-hover-text-blue-gray margin-right-8 font-size-normal material-icons" title="Show JSON"
       v-on:click="showEditor()">
        code
    </a>

    <div v-bind:class="{'w3-hide': editorData}">
        <h4 class="reset-margin">Last Day</h4>
        <hr class="reset-margin margin-bottom-8" />
        <canvas id="chartLastDay"></canvas>
        <div v-for="(stat, name) of stats" class="w3-small">
            {{name}}
            <span class="w3-tiny w3-right">Average: {{stat.LastDay.Average}}, Sum: {{stat.LastDay.Sum}}</span>
        </div>
        <div class="w3-margin-bottom"></div>

        <h4 class="reset-margin">
            Older
            <select class="w3-small margin-left-8" v-model="selectedMonth">
                <option v-for="month in months" v-bind:value="month">
                    {{month}}
                </option>
            </select>
        </h4>
        <hr class="reset-margin margin-bottom-8" />
        <canvas id="chartOlder" class="margin-bottom-8"></canvas>
        <div v-for="(stat, name) of stats" class="w3-small">
            {{name}}
            <span class="w3-tiny w3-right">Average: {{stat.Older.Average}}, Sum: {{stat.Older.Sum}}</span>
        </div>
    </div>

    <div v-if="editorData">
        <monaco-editor v-model="editorData" v-bind:type="'json'"
                       style="min-height: 300px; text-align: left; padding-top: 20px"></monaco-editor>
        <a class="w3-button w3-round w3-padding-small w3-white w3-hover-blue-grey margin-8" title="Save"
           v-on:click="save()">
            Save
        </a>
        <div class="w3-text-red margin-bottom-8" v-if="error">{{error}}</div>
    </div>
</div>