appdirs
attrs
beautifulsoup4
cached-property
certifi
chardet
Click
defusedxml
Flask
flux_led
gitdb2
GitPython
idna
isodate
itsdangerous
Jinja2
lxml
MarkupSafe
numpy==1.14.4
onvif-zeep
#opencv-python
pyasn1
pyserial
pysmb
pytz
requests
requests-toolbelt
robobrowser
six
smmap2
soupsieve
urllib3
Werkzeug
zeep
