
Click
Flask
GitPython
Jinja2
MarkupSafe
Werkzeug
appdirs
attrs
beautifulsoup4
cached-property
certifi
chardet
defusedxml
flux_led
gitdb2
idna
isodate
itsdangerous
lxml
numpy
onvif-zeep
opencv-python
pyasn1
pyserial
pysmb
python-vlc
pytz
requests
requests-toolbelt
robobrowser
six
smmap2
soupsieve
urllib3
waitress
zeep
