<div>
    <h3 class="reset-margin margin-left-8">{{name}}</h3>
    <div class="w3-col m5 w3-padding w3-round-large margin-8 w3-red">
        <div class="w3-xlarge">12&deg;C</div>
        <div class="w3-tiny w3-text-gray">Temperature</div>
    </div>
    <div class="w3-col m5 w3-padding w3-round-large margin-8 w3-red">
        <div class="w3-xlarge">12&deg;C</div>
        <div class="w3-tiny w3-text-gray">Temperature</div>
    </div>
    <div class="w3-col m5 w3-padding w3-round-large margin-8 w3-red">
        <div class="w3-xlarge">12&deg;C</div>
        <div class="w3-tiny w3-text-gray">Temperature</div>
    </div>
    <div class="w3-col m5 w3-padding w3-round-large margin-8 w3-red">
        <div class="w3-xlarge">12&deg;C</div>
        <div class="w3-tiny w3-text-gray">Temperature</div>
    </div>
    <div class="w3-col m5 w3-padding w3-round-large margin-8 w3-red">
        <div class="w3-xlarge">12&deg;C</div>
        <div class="w3-tiny w3-text-gray">Temperature</div>
    </div>
</div>