<a class="w3-center w3-padding w3-round-large margin-8 bg-gray-opacity-88 w3-hover-blue-gray" style="min-height: 72px"
   v-bind:class="{'w3-text-red': error, 'w3-disabled': processing, 'animate-fading-5s': processing, 'w3-text-dark-gray': isOffline}"
   v-bind:title="error ?? 'Last Online: ' + dateToString(driver.LastOnline)"
   v-on:click="click()">
    <!-- Switch -->
    <div class="w3-xlarge" v-bind:class="{'w3-text-light-green': driver.IsOn}" style="font-weight: bold; margin: 2px"
         v-if="isSimpleSwitch()">
        {{driver.IsOn ? 'ON' : 'OFF'}}
    </div>

    <!-- Light -->
    <span class="material-icons w3-xxlarge" v-bind:class="{'w3-text-yellow': driver.IsOn}"
          v-if="driver.$baseTypes.some(t => t.endsWith('ILightDriver'))">
        {{driver.IsOn ? 'lightbulb' : 'lightbulb_outline'}}

        <input type="color" style="width: 12px; height: 12px;"
               v-model="driver.Color" v-bind:title="driver.Color" v-on:click.stop="" />
    </span>

    <!-- AC -->
    <div class="w3-xlarge" style="margin: 2px; white-space: nowrap;"
         v-if="driver.$baseTypes.some(t => t.endsWith('IAcDriver')) && driver.Power">
        {{Math.round(driver.Temperature, 2)}}

        <span class="w3-tiny">°C</span>
        <span class="material-icons w3-tiny" style="vertical-align:top;margin-top:8px;">
            {{getAcIcon()}}
        </span>
    </div>
    <div class="w3-xlarge" style="font-weight: bold; margin: 2px;"
         v-if="driver.$baseTypes.some(t => t.endsWith('IAcDriver')) && !driver.Power">
        OFF
    </div>

    <!-- eWeLink -->
    <span class="material-icons w3-xxlarge" v-if="driver.$type.endsWith('EwelinkRfDriver')">
        settings_remote
    </span>

    <!-- Script -->
    <span class="material-icons w3-xxlarge" v-if="driver.$type.endsWith('ScriptDriver')">
        code
    </span>


    <div class="w3-tiny">{{driver.Name}}</div>

    <!-- Modal -->
    <div class="w3-modal w3-animate-opacity" v-if="showModal" v-on:click.stop="" title=""
         v-bind:class="{'w3-show-block': showModal}"
         v-on:click="showModal = false">
        <div class="w3-modal-content w3-card-4 w3-transparent" v-on:click.stop="">
            <header class="w3-container w3-blue-gray">
                <span class="w3-button w3-display-topright" v-on:click="showModal = false">&times;</span>
                <h2>
                    {{driver.Name}}
                    <span class="w3-large">({{room.Name}})</span>
                </h2>
            </header>
            <div class="w3-container w3-text-white w3-padding-16 height-100 overflow-y-auto bg-gray">
                <object-editor v-bind:object="driver"
                               v-bind:settings="false"
                               v-bind:onsave="save"></object-editor>
            </div>
        </div>
    </div>
</a>