<div class="w3-center w3-padding w3-round-large margin-8 bg-gray-opacity-88 w3-hover-blue-gray" style="min-height: 72px; cursor: pointer;"
     v-bind:class="{'w3-text-red': error, 'w3-disabled': processing && !showModal, 'animate-fading-5s': processing && !showModal, 'w3-text-dark-gray': isOffline}"
     v-bind:title="error ?? 'Last Online: ' + dateToString(driver.LastOnline)"
     v-on:click="click()">

    <!-- not playing -->
    <span class="material-icons w3-xxlarge" v-if="!driver.Playing"
          v-bind:style="{'vertical-align': hideName ? 'middle' : 'inherit'}">
        speaker
    </span>

    <div class="w3-tiny" v-if="!driver.Playing && !hideName">{{driver.Name}}</div>

    <!-- playing -->
    <div v-if="driver.Playing" style="overflow: hidden; line-height: 1; border-bottom: 2px solid;"
         v-bind:style="{'border-image': 'linear-gradient(90deg, #ffffff ' + driver.Position + '%, #7494a4 0%) 1'}"
         v-bind:title="'Volume: ' + driver.Volume + '\nBufferLevel: ' + driver.BufferLevel + '%'">
        <!-- title -->
        <span class="w3-tiny w3-show-inline-block scroll-text no-mobile" v-bind:title="driver.Playing + ' (' + driver.Position + '%)'">
            {{driver.Playing}}
        </span>

        <div>
            <span class="w3-xlarge w3-hover-text-dark-gray material-icons" title="Pause" v-on:click.stop=""
                  v-on:click="setDevice({ 'Paused': !driver.Paused })">
                {{driver.Paused ? 'play_arrow' : 'pause'}}
            </span>
            <span class="w3-xlarge w3-hover-text-dark-gray material-icons" title="Stop" v-on:click.stop=""
                  v-on:click="callDevice('PlaySong', '')">
                stop
            </span>
            <span class="w3-xlarge w3-hover-text-dark-gray material-icons" title="Next" v-on:click.stop=""
                  v-on:click="callDevice('NextSong', driver.Playing)">
                skip_next
            </span>
        </div>
    </div>

    <!-- Modal -->
    <div class="w3-modal w3-animate-opacity" v-if="showModal" v-on:click.stop="" title=""
         v-bind:class="{'w3-show-block': showModal}"
         v-on:click="showModal = false">
        <div class="w3-modal-content w3-card-4 w3-transparent" v-on:click.stop="">
            <header class="w3-container w3-blue-gray">
                <span class="w3-button w3-display-topright" v-on:click="showModal = false">&times;</span>
                <h2>
                    {{driver.Name}}
                    <span class="w3-large">({{room.Name}})</span>
                </h2>
            </header>
            <div class="w3-container w3-text-white w3-padding-16 height-100 overflow-y-auto bg-gray">
                <div v-if="driver.Playing">
                    <div class="font-size-normal" v-bind:title="driver.Playing + ' (' + driver.Position + '%)'">
                        {{driver.Playing}}
                    </div>

                    <div class="w3-left w3-dropdown-hover w3-hover-text-dark-gray" style="width: 40px">
                        <span class="w3-large w3-cell-middle material-icons">volume_up</span>
                        <span class="font-size-normal">{{driver.Volume}}</span>
                        <div class="w3-dropdown-content w3-animate-opacity w3-round">
                            <input type="range" min="0" max="100" step="5" v-model="driver.Volume">
                        </div>
                    </div>
                    <div class="w3-show-inline-block" style="border-top: 2px solid;"
                         v-bind:style="{'border-image': 'linear-gradient(90deg, #ffffff ' + driver.Position + '%, #7494a4 0%) 1'}">
                        <a class="w3-xxlarge w3-hover-text-dark-gray material-icons" title="Pause"
                           v-on:click="setDevice({ 'Paused': !driver.Paused })">
                            {{driver.Paused ? 'play_arrow' : 'pause'}}
                        </a>
                        <a class="w3-xxlarge w3-hover-text-dark-gray material-icons" title="Stop"
                           v-on:click="callDevice('PlaySong', '')">
                            stop
                        </a>
                        <a class="w3-xxlarge w3-hover-text-dark-gray material-icons" title="Next"
                           v-on:click="callDevice('NextSong', driver.Playing)">
                            skip_next
                        </a>
                    </div>
                    <div class="w3-right w3-right-align" style="width: 40px;">
                        <a class="w3-large w3-hover-text-dark-gray w3-cell-middle material-icons" title="Shuffle"
                           v-bind:class="{'w3-text-indigo': driver.Shuffle}"
                           v-bind:style="{'font-weight': driver.Shuffle ? 'bold' : 'normal'}"
                           v-on:click="setDevice({ 'Shuffle': !driver.Shuffle })">
                            shuffle
                        </a>
                    </div>
                </div>

                <hr class="reset-margin margin-bottom-8" v-if="driver.Playing" />
                <div class="w3-left-align">
                    <!-- add new song-->
                    <details class="w3-show-inline-block margin-bottom-8">
                        <summary class="w3-show-inline-block w3-cell-top w3-hover-text-dark-gray margin-right-8 material-icons"
                                 title="Add Song">
                            add_circle
                        </summary>
                        <input type="text" placeholder="URL" v-model="songUrl" v-on:keyup.enter="addSong" />
                        <a class="w3-cell-top w3-hover-text-dark-gray material-icons" title="Download"
                           v-on:click="addSong">
                            download
                        </a>

                        <!-- radio stream urls -->
                        <a class="w3-large w3-hover-text-dark-gray margin-left-8 material-icons"
                           title="Radio Stream Urls" href="https://streamurl.link/" target="_blank">
                            radio
                        </a>
                    </details>
                    <!-- edit -->
                    <a class="w3-right w3-hover-text-white material-icons"
                       v-bind:class="{'w3-text-dark-gray': !rename}"
                       v-on:click="rename = rename ? null : {}"
                       v-if="!driver.Playing">
                        edit_square
                    </a>
                    <!-- filter -->
                    <input type="text" class="w3-small w3-margin-right w3-right" placeholder="Filter"
                           v-model="filter" v-on:keyup.escape="filter = ''" />
                </div>

                <!-- songs list -->
                <div class="w3-row" style="padding: 0 4px"
                     v-bind:class="{'w3-blue-gray': driver.Playing == song.Name}"
                     v-for="song of songs">

                    <span class="w3-col m10 s9 w3-left-align overflow-wrap-break-word" style="user-select: none;"
                          v-bind:class="{'w3-text-gray': song.Local && !song.Exists}"
                          v-bind:title="song.Name + ' (Rating: ' + song.Rating + ')'"
                          v-if="rename?.Url != song.Url"
                          v-on:dblclick="callDevice('PlaySong', song.Name)">
                        {{song.Name}}
                    </span>
                    <!-- rename -->
                    <input type="text" class="w3-col m9 s9 w3-left-align" v-model="rename.Name"
                           v-if="rename?.Url == song.Url" v-on:keyup.enter="renameSong" />
                    <a class="w3-hover-text-green w3-left margin-left-8 material-icons" v-if="rename?.Url == song.Url" v-on:click="renameSong()">done</a>
                    <a class="w3-hover-text-dark-gray w3-left margin-left-8 material-icons" v-if="rename?.Url == song.Url" v-on:click="rename = {}">close</a>

                    <span class="w3-col m2 s3 w3-right-align" style="line-height: 1"
                          v-if="!rename">
                        <a class="w3-hover-text-dark-gray material-icons margin-right-8" title="Play"
                           v-if="driver.Playing != song.Name"
                           v-on:click="callDevice('PlaySong', song.Name)">
                            play_circle
                        </a>

                        <a class="w3-hover-text-dark-gray material-icons" title="Enqueue"
                           v-if="driver.Playing && driver.Playing != song.Name && getQueueIndex(song) == -1"
                           v-on:click="enqueue(song)">
                            add_to_queue
                        </a>
                        <a class="w3-hover-text-dark-gray w3-cell-top w3-large margin-right-8"
                           style="font-style:italic;" title="Dequeue"
                           v-if="getQueueIndex(song) != -1"
                           v-on:click="dequeue(song)">
                            {{getQueueIndex(song) + 1}}
                        </a>
                    </span>

                    <!-- edit buttons -->
                    <span class="w3-col m2 s3 w3-right-align" style="line-height: 1"
                          v-if="rename && rename.Url != song.Url">
                        <a class="w3-hover-text-dark-gray font-size-normal margin-right-8 material-icons" title="Rename"
                           v-on:click="rename = {...song}">
                            edit
                        </a>
                        <a class="w3-hover-text-red font-size-normal margin-right-8 material-icons" title="Delete"
                           v-on:click="deleteSong(song, false)">
                            delete
                        </a>
                        <a class="w3-hover-text-red font-size-normal margin-right-8 material-icons" title="Remove File"
                           v-on:click="deleteSong(song, true)">
                            remove
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>