<form class="w3-center" v-if="object">
    <div v-for="name of Object.keys(object)"
         v-if="name[0] != '$' && (settings == null || object['$subtypes'][name].setting == settings)"
         class="w3-row w3-row-padding margin-bottom-8">
        <span class="w3-col m5 w3-right-align">{{name}}:</span>

        <object-editor-item class="w3-col m5"
                            v-bind:key="name"
                            v-bind:value="object[name]"
                            v-bind:value-info="object['$subtypes'][name]"
                            v-on:change="value => onItemChange(name, value)">
        </object-editor-item>

        <object-editor style="background-color: #0000001A"
                       v-if="object[name] && object[name]['$subtypes']"
                       v-bind:settings="settings"
                       v-bind:object="object[name]">
        </object-editor>
    </div>
    <a class="w3-button w3-round w3-padding-small w3-white w3-hover-blue-grey margin-8" title="Save"
       v-if="onsave" v-on:click="save()">
        Save
    </a>
    <div class="w3-text-red margin-bottom-8" v-if="error">{{error}}</div>
</form>