<div>
    <!-- bool -->
    <select v-if="valueInfo.type == 'Boolean'" v-model="value" v-bind:title="getTitle()" class="w3-col m10 w3-mobile">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>

    <!-- enum -->
    <select v-if="valueInfo.enums" v-model="value" v-bind:title="getTitle()" class="w3-col m10 w3-mobile">
        <option v-for="v of valueInfo.enums" v-bind:value="valueInfo.type + '.' + v">{{v}}</option>
    </select>

    <!-- int -->
    <input v-if="valueInfo.type.startsWith('Int')" v-model="value" v-bind:title="getTitle()" type="number" class="w3-col m10 w3-mobile" />

    <!-- double -->
    <input v-if="valueInfo.type == 'Double'" v-model="value" v-bind:title="getTitle()" type="number" step="0.01" class="w3-col m10 w3-mobile" />

    <!-- datetime -->
    <input v-if="valueInfo.type == 'DateTime'" v-model="localDateTime" v-bind:title="getTitle()" type="datetime-local" class="w3-col m10 w3-mobile" />

    <!-- timespan -->
    <input v-if="valueInfo.type == 'TimeSpan'" v-model="value" v-bind:title="getTitle()" type="time" class="w3-col m10 w3-mobile" />

    <!-- string -->
    <input v-if="valueInfo.type == 'String'" v-model="value" v-bind:title="getTitle()" type="text" class="w3-col m10 w3-mobile" />

    <!-- tuple -->
    <input v-if="valueInfo.type.startsWith('ValueTuple')" v-model="value" v-bind:title="getTitle()" type="text" class="w3-col m10 w3-mobile" />

    <!-- list -->
    <div v-if="valueInfo.type == 'List'">
        <div v-for="(item, index) of value" v-bind:key="index"
             class="margin-bottom-8">
            <object-editor-item v-bind:value="item"
                                v-bind:value-info="getListValueInfo()"
                                v-on:change="v => onListChange(index, v)">
            </object-editor-item>
            <a class="font-size-normal w3-cell-middle w3-hover-text-red material-icons" title="Remove"
               v-on:click="value.splice(index, 1)">
                remove
            </a>
        </div>
        <a class="material-icons w3-hover-text-light-green" title="Add new"
           v-on:click="value.push('')">
            add_circle
        </a>
    </div>

    <!-- dictionary -->
    <div v-if="valueInfo.type == 'Dictionary'">
        <div v-for="(value, name) of value" v-bind:key="name"
             class="w3-show-inline-block margin-bottom-8">
            <object-editor-item v-bind:value="name"
                                v-bind:value-info="getDictValueInfo(0)"
                                v-on:change="newName => debounceOnDictKeyChange(name, newName)">
            </object-editor-item>
            <object-editor-item v-bind:value="value"
                                v-bind:value-info="getDictValueInfo(1)"
                                v-on:change="value => onDictValueChange(name, value)">
            </object-editor-item>
            <a class="font-size-normal w3-cell-middle w3-hover-text-red material-icons" title="Remove"
               v-on:click="delDictItem(name)">
                remove
            </a>
        </div>
        <a class="material-icons w3-hover-text-light-green" title="Add new"
           v-on:click="addDictItem()">
            add_circle
        </a>
    </div>

    <!-- select -->
    <select v-if="valueInfo.type == 'select'" v-model="value" v-bind:title="getTitle()" class="w3-col m10 w3-mobile">
        <option value="" disabled selected hidden>Select</option>
        <option value="">Null</option>
        <option v-for="(name, v) of valueInfo.select" v-bind:value="v">{{name}}</option>
    </select>

    <!-- code -->
    <a v-if="valueInfo.type == 'code'" class="w3-round w3-padding-small w3-white w3-hover-blue margin-8"
       title="..."
       v-on:click="showCode = true">
        ...
    </a>
    <div class="w3-modal" v-if="showCode"
         v-bind:class="{'w3-show-block': showCode}"
         v-on:click="showCode = false">
        <div class="w3-modal-content w3-card-4 w3-transparent" v-on:click.stop="" style="height: 300px">
            <div class="w3-container w3-padding-16 height-100 overflow-y-auto bg-gray">
                <monaco-editor v-model="value" style="height: 100%; text-align: left;"></monaco-editor>
            </div>
        </div>
    </div>
</div>
