{% extends "base.html" %}

{% block content %}
		<div class='buttonContainer'>
			<a class='button left' href='/'>back</a>
		{% if enabled == True %}
			<a class='button right green' href='?enabled=False'>enabled</a>
		{% else %}
			<a class='button right red' href='?enabled=True'>disabled</a>
		{% endif %}
			<h2 class='title'>Sensors</h2>
		</div>
		
		{% macro charts(data, drawValues, drawAxis, subTitle="", name="") -%}
			{% for (subName, value) in data.iteritems() %}
				<div>{{ subName }}{{ subTitle }}</div>
				<canvas id='canvas{{ name }}{{ subName }}' width='300' height='150'></canvas>
				<script type='text/javascript'>
					// {{ subName|count }}
					var values = [{% for key in value.keys()|sort %}{{ value[key]|float }}, {% endfor %}]
					var names = [{% for key in value.keys()|sort %}'{{ key }}', {% endfor %}]
					drawLineChart('canvas{{ name }}{{ subName }}', values, names, {{ drawValues|lower }}, {{ drawAxis|lower }});
				</script>
				<br/><br/>
			{% endfor %}
		{% endmacro %}
		
		<div class='tabContainer'>
		{% if data|count > 1 %}
		{% for i in range(data|count) %}
			{% if i == 0 %}
			<button class='active' onclick='openTab(this)'>{{ data.keys()[i] }}</button>
			{% else %}
			<button onclick='openTab(this)'>{{ data.keys()[i] }}</button>
			{% endif %}
		{% endfor %}
		{% endif %}
		
		{% for (key, value) in data.iteritems() %}
			{% if key == data.keys()[0] %}
			<div class='tabContent active'>
			{% else %}
			<div class='tabContent'>
			{% endif %}
				
				{% if key.startswith("Power") %}
					<div class="settings">
					<ul>
						<li><h3>Day Consumption:</h3> {{ powerConsumption[0] }} W </li>
						<li><h3>Night Consumption:</h3> {{ powerConsumption[1] }} W </li>
						<li><h3>Total Consumption:</h3> {{ powerConsumption[2] }} W </li>
						<li><h3>Price:</h3> {{ powerConsumption[3] }} </li>
					</ul>
					</div>
				{% endif %}
			
				{{ charts(value[0], True, False, "", key) }}
				
				<div class='settings'>
					<details>
						<summary>Archive</summary>
						<br/>
						{{ charts(value[1], False, True, " - 5 days", key + "1") }}
						<br/>
						{{ charts(value[2], False, True, " - Older", key + "2") }}
					</details>
				</div>
			</div>
		{% endfor %}
		</div>
		<br/>
{% endblock %}