{% extends "base.html" %}

{% block content %}
		<div class='buttonContainer'>
			<a class='button left' href='/'>back</a>
		{% if enabled == True %}
			<a class='button right green' href='?enabled=False'>enabled</a>
		{% else %}
			<a class='button right red' href='?enabled=True'>disabled</a>
		{% endif %}
			<h2 class='title'>Sensors</h2>
		</div>
		
		{% macro charts(data, drawValues, drawAxis, subTitle="", idx=0) -%}
			{% for i in range(names|count) %}
				<div>{{ names[i] }}{{ subTitle }}</div>
				<canvas id='canvas{{ idx }}{{ i }}' width='300' height='150'></canvas>
				<script type='text/javascript'>
					// {{ data[i]|count }}
					var values = [{% for key in data[i]|sort %}{{ data[i][key]|float }}, {% endfor %}]
					var names = [{% for key in data[i]|sort %}'{{ key }}', {% endfor %}]
					drawLineChart('canvas{{ idx }}{{ i }}', values, names, {{ drawValues|lower }}, {{ drawAxis|lower }});
				</script>
			{% endfor %}
		{% endmacro %}
		
		<div class='tabContainer'>
		{% if data|count > 1 %}
		{% for i in range(data|count) %}
			{% if i == 0 %}
			<button class='active' onclick='openTab(this)'>{{ data.keys()[i] }}</button>
			{% else %}
			<button onclick='openTab(this)'>{{ data.keys()[i] }}</button>
			{% endif %}
		{% endfor %}
		{% endif %}
		
		{% for key, value in data.iteritems() %}
			{% if key == data.keys()[0] %}
			<div class='tabContent active'>
			{% else %}
			<div class='tabContent'>
			{% endif %}
			
				{{ charts(value[0], True, False, "", key) }}
				
				<div class='settings'>
					<details>
						<summary>Archive</summary>
						<br/>
						{{ charts(value[1], False, True, " - 5 days", key + "1") }}
						<br/><br/>
						{{ charts(value[2], False, True, " - Older", key + "2") }}
						<br/><br/>
					</details>
				</div>
			</div>
		{% endfor %}
		</div>
		<br/>
{% endblock %}