<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <title>My Home</title>
    <link rel="icon" type="image/ico" href="./images/MyHome.ico" />

    <link rel="stylesheet" href="./external/material-icons.css" />
    <link rel="stylesheet" href="./external/w3.css" />

    <script src="./external/jquery.min.js"></script>
    <script src="./external/vue.global.prod.js"></script>
    <script src="./external/vue-router.global.prod.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@4.2.4/dist/vue-router.global.js"></script>-->
    <script src="./external/chart.umd.min.js"></script>
    <script src="./external/hammer.min.js"></script>
    <script src="./external/chartjs-plugin-zoom.min.js"></script>
    <script src="./external/moment.min.js"></script>
    <script src="./external/chartjs-adapter-moment.min.js"></script>

    <!-- Monaco Editor ./external/monaco-editor/ -->
    <link defer rel="stylesheet" data-name="vs/editor/editor.main" href="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.css">
    <script>var require = { paths: { 'vs': 'https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs' } };</script>
    <script defer src="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/loader.js"></script>
    <script defer src="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script defer src="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.js"></script>

    <link rel="stylesheet" href="./style.css" />
    <script src="./apis.js"></script>
    <script src="./scripts.js"></script>
    <script src="./websocket.js"></script>

    <script src="./components/generic/treeComponent.js"></script>
    <script src="./components/generic/objectEditorItemComponent.js"></script>
    <script src="./components/generic/objectEditorComponent.js"></script>
    <script src="./components/generic/monacoEditorComponent.js"></script>

    <script src="./components/drivers/mediaDriverComponent.js"></script>
    <script src="./components/drivers/speakerDriverComponent.js"></script>

    <script src="./components/roomCardComponent.js"></script>
    <script src="./components/sensorsDataComponent.js"></script>
    <script src="./components/camerasComponent.js"></script>
    <script src="./components/driverComponent.js"></script>

    <script src="./components/securityListComponent.js"></script>

    <script src="./pages/mainPage.js"></script>
    <script src="./pages/configPage.js"></script>
    <script src="./pages/actionsPage.js"></script>

    <script src="./index.js"></script>
</head>
<body>
    <div id="vue-content" class="w3-hide">
        <!-- Title bar -->
        <div class="w3-bar">
            <div class="w3-center display-center w3-animate-top">
                <img src="./images/MyHome.ico" width="32" class="w3-cell-middle" />
                <h3 class="w3-cell-middle w3-padding-small w3-show-inline-block">My Home</h3>
            </div>
            <div class="w3-right w3-padding w3-padding-top-24 w3-animate-right">
                <router-link to="/" class="material-icons" title="Home"
                             v-bind:class="{'w3-text-gray w3-hover-text-white': $route.path != '/'}">
                    home
                </router-link>
                <router-link to="/config" class="material-icons" title="Configure"
                             v-bind:class="{'w3-text-gray w3-hover-text-white': $route.path != '/config'}">
                    build
                </router-link>
                <router-link to="/actions" class="material-icons" title="Actions"
                             v-bind:class="{'w3-text-gray w3-hover-text-white': $route.path != '/actions'}">
                    settings_ethernet
                </router-link>
                <a class="material-icons w3-text-gray w3-hover-text-white" title="Settings"
                   v-on:click="showSettingsModal()">
                    settings
                </a>
                <a class="material-icons w3-text-gray w3-hover-text-white" title="Logs"
                   v-on:click="showLogsModal()">
                    assignment
                </a>

                <!-- Upgrade -->
                <a class="w3-show-block w3-tiny w3-cell-middle margin-right-8" title="Upgrade"
                   v-if="upgradeAvailable != false"
                   v-on:click="upgrade">
                    <span v-if="upgradeAvailable">
                        <span class="w3-cell-middle material-icons font-size-normal">assignment_late</span>
                        Upgrade Available
                    </span>
                    <span v-if="upgradeAvailable == null">
                        <span class="w3-cell-middle material-icons font-size-normal">error</span>
                        Upgrade failed
                    </span>
                </a>
            </div>
        </div>

        <!-- Content -->
        <router-view></router-view>

        <!-- Modal -->
        <div class="w3-modal w3-animate-opacity" v-if="modal"
             v-bind:class="{'w3-show-block': modal}"
             v-on:click="modal = ''">
            <div class="w3-modal-content w3-card-4 w3-transparent" v-on:click.stop="">
                <header class="w3-container w3-blue-gray">
                    <span class="w3-button w3-display-topright" v-on:click="modal = ''">&times;</span>
                    <h2>{{modal}}</h2>
                </header>
                <div class="w3-container w3-padding-16 height-100 overflow-y-auto bg-gray">
                    <!-- Logs -->
                    <a class="font-size-normal material-icons" href="./api/logFile"  target="_blank"
                       v-if="modal == 'Logs'">
                        open_in_new
                    </a>
                    <ul class="w3-ul w3-monospace" v-if="modal == 'Logs'">
                        <li v-for="log of logs" class="w3-hover-opacity overflow-wrap-break-word"
                            v-bind:class="{'w3-red': log.includes('ERROR'), 'w3-purple': log.includes('WARN')}">
                            {{log}}
                        </li>
                    </ul>

                    <!-- Settings -->
                    <div class="w3-bar w3-gray margin-bottom-8" v-if="modal == 'Settings'">
                        <a class="w3-bar-item w3-button"
                           v-for="(name, index) of Object.keys(settings)"
                           v-bind:class="{'w3-light-gray': selectedSettings == name}"
                           v-bind:title="name"
                           v-on:click="selectedSettings = name">
                            {{name}}
                        </a>
                    </div>
                    <object-editor v-if="modal == 'Settings'"
                                   v-bind:object="settings[selectedSettings]"
                                   v-bind:settings="true"
                                   v-bind:onsave="saveSettings"></object-editor>
                    <a class="w3-button w3-right w3-round w3-padding-small w3-white w3-hover-blue-grey margin-8"
                       title="Restart system"
                       v-if="modal == 'Settings' && selectedSettings == 'Config'"
                       v-on:click="restart()">
                        Restart
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>