<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <title>My Home</title>
    <link rel="icon" type="image/ico" href="./images/MyHome.ico" />

    <link rel="stylesheet" href="./external/material-icons.css" />
    <link rel="stylesheet" href="./external/w3.css" />

    <script src="./external/jquery.min.js"></script>
    <script src="./external/vue.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>-->
    <script src="./external/Chart.bundle.min.js"></script>

    <script src="./components/generic/objectEditorItemComponent.js"></script>
    <script src="./components/generic/objectEditorComponent.js"></script>

    <script src="./components/roomCardComponent.js"></script>
    <script src="./components/sensorsDataComponent.js"></script>
    <script src="./components/camerasComponent.js"></script>
    <script src="./components/driverComponent.js"></script>

    <script src="./components/mediaPlayerComponent.js"></script>
    <script src="./components/securityListComponent.js"></script>

    <script src="./pages/mainPage.js"></script>
    <script src="./pages/configPage.js"></script>
    <script src="./pages/actionsPage.js"></script>

    <link rel="stylesheet" href="./style.css" />
    <script src="./scripts.js"></script>

    <script>
        $(window).on("load", () => {
            // wait all components to be loaded
            setTimeout(() => {
                window.vue = new Vue({
                    el: "#vue-content",
                    data: {
                        settings: {},
                        logs: [],
                        upgradeAvailable: false,

                        page: "main",
                        modal: "",
                        selectedSettings: ""
                    },
                    methods: {
                        refreshData: function () {
                            getUpgradeAvailable().done(value => {
                                Vue.set(this, "upgradeAvailable", value);
                                setTimeout(this.refreshData, 3000);
                            }).fail(response => {
                                if (response.status == 401) // unauthorized
                                    window.location.replace("./login.html");
                                else
                                    setTimeout(this.refreshData, 1000);
                            });

                            // update logs if the modal is opened
                            if (this.modal == "Logs") {
                                getLogs().done(logs => Vue.set(this, "logs", logs.reverse()));
                            }
                        },

                        showSettingsModal: function () {
                            this.modal = "Settings";
                            this.selectedSettings = "Config";

                            getConfig().done(config => Vue.set(this.settings, "Config", config));
                            getSystems(true).done(systems =>
                                Object.keys(systems).forEach(key => Vue.set(this.settings, key, systems[key])));
                        },
                        showLogsModal: function () {
                            this.modal = "Logs";
                            getLogs().done(logs => this.logs = logs.reverse());
                        },

                        saveSettings: function (settings) {
                            if (this.selectedSettings == "Config")
                                return setConfig(settings).done(() => this.modal = "");

                            return setSystem(this.selectedSettings, settings).done(() => this.modal = "");
                        },
                        upgrade: function () {
                            upgrade().done(() => {
                                $("#vue-content").html("Upgrade was successfull! Rebooting...");
                                setTimeout(() => window.location.reload(true), 30000);
                            });
                        },
                        restart: function () {
                            if (!confirm("Are you sure you want to restart the system?"))
                                return;

                            restart().done(() => {
                                $("#vue-content").html("Rebooting...");
                                setTimeout(() => window.location.reload(true), 30000);
                            });
                        }
                    },
                    mounted: function () {
                        this.refreshData();
                    },
                });
            }, 100);
        });
    </script>
</head>
<body>
    <div id="vue-content">
        <!-- Title bar -->
        <div class="w3-bar">
            <div class="w3-center display-center">
                <img src="./images/MyHome.ico" width="32" class="w3-cell-middle" />
                <h3 class="w3-cell-middle w3-padding-small w3-show-inline-block">My Home</h3>
            </div>
            <div class="w3-right w3-padding w3-padding-top-24">
                <a class="material-icons" title="Home"
                   v-on:click="page = 'main'" v-bind:class="{'w3-text-gray w3-hover-text-white': page != 'main'}">
                    home
                </a>
                <a class="material-icons" title="Configure"
                   v-on:click="page = 'config'" v-bind:class="{'w3-text-gray w3-hover-text-white': page != 'config'}">
                    build
                </a>
                <a class="material-icons" title="Actions"
                   v-on:click="page = 'actions'" v-bind:class="{'w3-text-gray w3-hover-text-white': page != 'actions'}">
                    settings_ethernet
                </a>
                <a class="material-icons w3-text-gray w3-hover-text-white" title="Settings"
                   v-on:click="showSettingsModal()">
                    settings
                </a>
                <a class="material-icons w3-text-gray w3-hover-text-white" title="Logs"
                   v-on:click="showLogsModal()">
                    assignment
                </a>

                <!-- Upgrade -->
                <a class="w3-show-block w3-tiny w3-cell-middle margin-right-8" title="Upgrade"
                   v-if="upgradeAvailable != false"
                   v-on:click="upgrade">
                    <span v-if="upgradeAvailable">
                        <span class="w3-cell-middle material-icons font-size-normal">assignment_late</span>
                        Upgrade Available
                    </span>
                    <span v-if="upgradeAvailable == null">
                        <span class="w3-cell-middle material-icons font-size-normal">error</span>
                        Upgrade failed
                    </span>
                </a>
            </div>
        </div>

        <!-- Content -->
        <main-page v-if="page == 'main'"></main-page>
        <config-page v-if="page == 'config'"></config-page>
        <actions-page v-if="page =='actions'"></actions-page>

        <!-- Modal -->
        <div class="w3-modal" v-if="modal"
             v-bind:class="{'w3-show-block': modal}"
             v-on:click="modal = ''">
            <div class="w3-modal-content w3-card-4 w3-transparent" v-on:click.stop="">
                <header class="w3-container w3-blue-gray">
                    <span class="w3-button w3-display-topright" v-on:click="modal = ''">&times;</span>
                    <h2>{{modal}}</h2>
                </header>
                <div class="w3-container w3-padding-16 height-100 overflow-y-auto bg-gray">
                    <!-- Logs -->
                    <ul class="w3-ul w3-monospace" v-if="modal == 'Logs'">
                        <li v-for="log of logs" class="w3-hover-opacity overflow-wrap-break-word"
                            v-bind:class="{'w3-red': log.includes('ERROR'), 'w3-purple': log.includes('WARN')}">
                            {{log}}
                        </li>
                    </ul>

                    <!-- Settings -->
                    <div class="w3-bar w3-gray margin-bottom-8" v-if="modal == 'Settings'">
                        <a class="w3-bar-item w3-button"
                           v-for="(name, index) of Object.keys(settings)"
                           v-bind:class="{'w3-light-gray': selectedSettings == name}"
                           v-bind:title="name"
                           v-on:click="selectedSettings = name">
                            {{name}}
                        </a>
                    </div>
                    <object-editor v-if="modal == 'Settings'"
                                   v-bind:object="settings[selectedSettings]"
                                   v-bind:onsave="saveSettings"></object-editor>
                    <a class="w3-button w3-right w3-round w3-padding-small w3-white w3-hover-blue-grey margin-8"
                       title="Restart system"
                       v-if="modal == 'Settings' && selectedSettings == 'Config'"
                       v-on:click="restart()">
                        Restart
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>