{% extends "base.html" %}

{% block content %}
		<h2 class='title'>LogIn</h2>
		
		<form id='form' action='' method='post' class='login'>
			<input type="hidden" name="loginType" value="{{ loginType }}"/>
		{% if invalid == False %}
			<input type='password' name='{{ loginType }}' autofocus/>
		{% else %}
			<input type='password' name='{{ loginType }}' class='red' autofocus/>
		{% endif %}
			<div class='buttonContainer'>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this.text)'>1</a>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this.text)'>2</a>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this.text)'>3</a>
			</div>
			<div class='buttonContainer'>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this.text)'>4</a>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this.text)'>5</a>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this.text)'>6</a>
			</div>
			<div class='buttonContainer'>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this.text)'>7</a>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this.text)'>8</a>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this.text)'>9</a>
			</div>
			<div class='buttonContainer'>
				<a class='button' href='javascript:;' onclick='removeText("form", "{{ loginType }}", 1)'><</a>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this)'>0</a>
				<a class='button' href='javascript:;' onclick='submitForm("form")'>></a>
			</div>
			<input type="hidden" name="CSRF" value="{{ csrf }}"/>
		</form>
{% endblock %}