{% extends "base.html" %}

{% block content %}
		<h2 class='title'>LogIn</h2>
		
		<form id='form' action='' method='post' class='login'>
			<input type="hidden" name="loginType" value="{{ loginType }}"/>
		{% if invalid == False %}
			<input type='password' name='{{ loginType }}' autofocus/>
		{% else %}
			<input type='password' name='{{ loginType }}' class='red' autofocus/>
		{% endif %}
			<div class='buttonContainer'>
				<a class='button' href='javascript:;' onclick='addText(this, "form", "{{ loginType }}")'>1</a>
				<a class='button' href='javascript:;' onclick='addText(this, "form", "{{ loginType }}")'>2</a>
				<a class='button' href='javascript:;' onclick='addText(this, "form", "{{ loginType }}")'>3</a>
			</div>
			<div class='buttonContainer'>
				<a class='button' href='javascript:;' onclick='addText(this, "form", "{{ loginType }}")'>4</a>
				<a class='button' href='javascript:;' onclick='addText(this, "form", "{{ loginType }}")'>5</a>
				<a class='button' href='javascript:;' onclick='addText(this, "form", "{{ loginType }}")'>6</a>
			</div>
			<div class='buttonContainer'>
				<a class='button' href='javascript:;' onclick='addText(this, "form", "{{ loginType }}")'>7</a>
				<a class='button' href='javascript:;' onclick='addText(this, "form", "{{ loginType }}")'>8</a>
				<a class='button' href='javascript:;' onclick='addText(this, "form", "{{ loginType }}")'>9</a>
			</div>
			<div class='buttonContainer'>
				<a class='button' href='javascript:;' onclick='removeText("form", "{{ loginType }}", 1)'><</a>
				<a class='button' href='javascript:;' onclick='addText("form", "{{ loginType }}", this)'>0</a>
				<a class='button' href='javascript:;' onclick='submitForm("form")'>></a>
			</div>
			<input type="hidden" name="CSRF" value="{{ csrf }}"/>
		</form>
{% endblock %}