{% extends "base.html" %}

{% block content %}
		<script>
			function addOnClick(sender, type, name, keyPair) {
				var span = document.createElement('span');
				if (!keyPair) {
					addItem(span, type, name + "[]", "", true);
				}
				else {
					addItem(span, type, name + ":key[]", "");
					addItem(span, type, name + ":value[]", "", true, true);
				}
				sender.parentElement.parentElement.insertBefore(span, sender.parentElement);
			}
		</script>

		<h2 class='title'>Settings</h2>
		
		<form id='form' action='' method='post' class='settings'>
			{% for obj, container in uiManager.containers|typeDictSort %}
			<details onclick="toggleDetails(this)">
				<summary>{{ container.name }}</summary>
				<ul>
					{% for key, property in container.properties|dictsort if not property.isPrivate %}
						{% set value = obj|attr(key) %}
						<li>
							{% if property.hint != "" %}
							<h3 class="hintText" title="{{ property.hint }}">
							{% else %}
							<h3>
							{% endif %}
								{{ property.displayName }}: 
							</h3>
						{% if property.subtype == None %} {# normal type #}
							<span>
							<script>
								var span = document.currentScript.parentElement;
								addItem(span, "{{ property.type_.__name__ }}", "{{ container.name }}:{{ key }}", "{{ value|toString|safe }}");
							</script>
							</span>
						{% elif property.subtype is not sequence %} {# list type #}
						<input type="hidden" name="{{ container.name }}:{{ key }}[]"/>
						{% for item in value %}
							<span>
							<script>
								var span = document.currentScript.parentElement;
								addItem(span, "{{ property.subtype.__name__ }}", "{{ container.name }}:{{ key }}[]", "{{ item|toString|safe }}", true);
							</script>
							</span>
						{% endfor %}
							<div class='buttonContainer'>
								<a class='button' href='javascript:;' 
									onclick='addOnClick(this, "{{ property.subtype.__name__ }}", "{{ container.name }}:{{ key }}", false)'>
									+
								</a>
							</div>
						{% else %} {# dict type #}
						<input type="hidden" name="{{ container.name }}:{{ key }}:key[]"/>
						<input type="hidden" name="{{ container.name }}:{{ key }}:value[]"/>
						{% for itemKey, itemValue in value.items() %}
							<span>
							<script>
								var span = document.currentScript.parentElement;
								addItem(span, "{{ property.subtype.__name__ }}", "{{ container.name }}:{{ key }}:key[]", "{{ itemKey|toString|safe }}");
								addItem(span, "{{ property.subtype.__name__ }}", "{{ container.name }}:{{ key }}:value[]", "{{ itemValue|toString|safe }}", true, true);
							</script>
							</span>
						{% endfor %}
							<div class='buttonContainer'>
									<a class='button' href='javascript:;' 
										onclick='addOnClick(this, "{{ property.subtype.__name__ }}", "{{ container.name }}:{{ key }}", true)'>
										+
									</a>
							</div>
						{% endif %}
						</li>
					{% else %}
					</ul>
					None
					<ul>
					{% endfor %}
				</ul>
			</details>
			{% endfor %}
			<input type="hidden" name="CSRF" value="{{ csrf }}"/>
		</form>
		
		<div class='buttonContainer'>
			<a class='button' href='javascript:;' onclick='submitForm("form");'>Save</a>
			<a class='button' href='/'>Cancel</a>
		</div>
{% endblock %}