.reset-margin {
    margin: 0 !important;
}

.margin-8 {
    margin: 8px !important;
}

.margin-left-8 {
    margin-left: 8px !important;
}

.margin-right-8 {
    margin-right: 8px !important;
}

.margin-bottom-8 {
    margin-bottom: 8px !important;
}

.padding-4 {
    padding: 4px !important;
}

.height-100 {
    height: 100%;
}

.display-center {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3-bar .dropdown-right {
    right: 70px;
}

.dropdown-top-right {
    bottom: 30px;
    right: -10px;
}
@media (max-width:600px) { /* Mobile */
    .dropdown-top-right {
        bottom: 42px;
        right: 0px;
        position: fixed;
    }
}

.bg-gray {
    background-color: #888888 !important;
}

.bg-gray-opacity-88 {
    background-color: #88888888 !important;
}

.disabled {
    pointer-events: none;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-wrap-break-word {
    overflow-wrap: break-word;
}

.font-size-normal {
    font-size: initial !important;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
}
@media (max-width:600px) { /* Mobile */
    .grid-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, 33%);
    }
}
@media (min-width:993px) { /* Large  */
    .grid-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, 15%);
    }
}


@media (max-width:600px) { /* Mobile */
    .no-mobile {
        display: none !important;
    }
}

.scroll-text {
    white-space: nowrap;
    animation: scroll-text 10s linear infinite;
}
@keyframes scroll-text {
    from {
        left: 100%;
        transform: translate(0, 0);
    }

    to {
        left: -100%;
        transform: translate(-100%, 0);
    }
}

.w3-bar .w3-dropdown-hover {
    display: inline-block;
    cursor: pointer;
    float: initial;
}

.w3-modal {
    padding-bottom: 50px;
}

.w3-modal-content {
    height: 90%;
}
@media (min-width:993px) { /* Large */
    .w3-modal-content {
        width: 600px;
    }
}

@media (max-width:1200px) { /* not Large */
    .w3-sidebar {
        display: none;
    }
}


body, html {
    height: 100%;
    overflow-y: hidden;
}

body {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, #63777F, #313B3F);
    background-attachment: fixed;
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input, select {
    border: solid 1px dimgray;
    border-radius: 4px;
}

    input[type="color"] {
        border: none;
        padding: 0;
    }

        input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        input[type="color"]::-webkit-color-swatch {
            border: none;
        }

summary {
    cursor: pointer;
    overflow-wrap: break-word;
    white-space: nowrap;
}

    summary > * {
        display: inline-block;
        width: 93%;
        vertical-align: middle;
        margin-left: 3px;
        white-space: break-spaces;
    }


#login {
    margin-top: -50px;
}

    #login input {
        background: transparent;
        outline: none;
        border: 0;
    }

    #login .w3-button {
        width: 52px;
        height: 52px;
        border-radius: 50%;
    }

    #login .material-icons {
        font-size: 24px !important;
        padding: 10px;
    }

#vue-content {
    height: 100%;
}

#scrollable-content {
    height: 89%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* Scrollbar - Large */
@media (min-width:601px) {
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* handle */
    ::-webkit-scrollbar-thumb {
        background: #666;
    }

        /* handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #444;
        }
}

/* Mobile */
@media (max-width:600px) {
    .display-center {
        position: initial;
    }

    .w3-margin-bottom {
        margin-bottom: inherit !important;
    }

    .w3-padding-top-24 {
        padding-top: inherit !important;
    }

    .w3-padding-16 {
        padding: inherit !important;
    }

    #scrollable-content {
        height: 75%;
    }
}
