.reset-margin {
    margin: 0 !important;
}

.margin-8 {
    margin: 8px !important;
}

.margin-left-8 {
    margin-left: 8px !important;
}

.margin-right-8 {
    margin-right: 8px !important;
}

.margin-bottom-8 {
    margin-bottom: 8px !important;
}

.padding-4 {
    padding: 4px !important;
}

.height-100 {
    height: 100%;
}

.dropdown-top-right {
    bottom: 30px;
    right: -10px;
}

.bg-gray {
    background-color: #888888 !important;
}

.bg-gray-opacity-88 {
    background-color: #88888888 !important;
}

.disabled {
    pointer-events: none;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-wrap-break-word {
    overflow-wrap: break-word;
}

.font-size-normal {
    font-size: initial !important;
}


.w3-modal {
    padding-bottom: 50px;
}

.w3-modal-content {
    width: 40%;
    height: 90%;
}


body, html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, #63777F, #313B3F);
    background-attachment: fixed;
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

summary {
    cursor: pointer;
    overflow-wrap: break-word;
}

    summary > * {
        display: inline-block;
        width: 93%;
        vertical-align: middle;
        margin-left: 3px;
    }


.title-bar {
    height: 50px;
}

#login {
    margin-top: -50px;
}

    #login .w3-button {
        width: 45px;
        height: 45px;
    }

    #login .material-icons {
        font-size: 24px !important;
        padding: 10px;
    }


/* Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #666;
}

    /* handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #444;
    }
